<div id="user-settings" class="container clearfix">
  <div class="sidebar profile-links col-md-3">
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="type in settingTypes">
        <a href="#" ng-click="changeCurrentSettingsType(type)" ng-class="{ active : currentSettingsType.name === type.name }">
          <i class="fa {{ type.icon }}"></i>&nbsp;{{ type.name }}
        </a>
      </li>
    </ul>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        {{ currentSettingsType.name }}
      </div>
      <div class="panel-body">
        <form name="updateUserForm" novalidate>
          <!-- Profile -->
          <div class="profile-section settings-section" ng-show="currentSettingsType.name === 'Profile'">
            <div class="form-group">
              <label>First Name</label>
              <input class="form-control" type="text" name="firstName" ng-model="userUpdates.firstName" />
            </div>
            <div class="form-group">
              <label>Last Name</label>
              <input class="form-control" type="text" name="lastName" ng-model="userUpdates.lastName" />
            </div>
            <div class="form-group">
              <label>Location</label>
              <input class="form-control" type="text" name="location" ng-model="userUpdates.location" />
            </div>
            <button class="btn btn-primary pull-right" ng-click="updateUser(updateUserForm)">Save</button>
          </div>
          <!-- Images -->
          <div class="images-section settings-section" ng-show="currentSettingsType.name === 'Images'">
            <div class="form-section">
              <h4 class="form-section-header">Profile Pic</h4>
              <file-upload file-selected="updateProfilePic">
                <img class="profile-pic img-responsive img-rounded" src="{{ currentUser.profilePic }}" width="240px" />
                <p class="clearfix">
                  <button class="btn pull-right" type="submit" ng-hide="loading" ng-bs-animated-button="" ng-disabled data-is-submitting="isSubmittingProfilePic" result="profilePicResult" data-options="profilePicBtnOptions" file-upload-trigger></button>
                </p>
              </file-upload>
            </div>
          </div>
          <!-- Links -->
          <div class="links-section settings-section" ng-show="currentSettingsType.name === 'Links'">
            <div class="add-links clearfix">
              <button class="btn btn-sm btn-default pull-right" ng-click="newLink()">
                <i class="fa fa-plus"></i> Add
              </button>
            </div>
            <link-input ng-repeat="link in unsavedSocialLinks" link-input-handle="linkInputHandle" link="link" save-link="addLink"></link-input>
            <link-input ng-repeat="link in currentUser.socialLinks" link-input-handle="linkInputHandle" link="link" save-link="updateLink" delete-link="deleteLink"></link-input>
          </div>
          <!-- Applications -->
          <div class="applications-section settings-section" ng-show="currentSettingsType.name === 'Applications'">
            <div class="" ng-repeat="application in currentUser.projectApplications">
              Project: {{ application.projectName }}<br>
              Status: {{ application.status }}
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
