<div id="project-settings">
  <div class="sidebar col-md-3">
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="type in settingTypes">
        <a href="#" ng-click="changeCurrentSettingsType(type)" ng-class="{ active : currentSettingsType.name === type.name }">
          <i class="fa {{ type.icon }}"></i>&nbsp;{{ type.name }}
        </a>
      </li>
    </ul>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        {{ currentSettingsType.name }}
      </div>
      <div class="panel-body">
        <form name="updateProjectForm" novalidate>
          <!-- Profile -->
          <div class="profile-section settings-section" ng-show="currentSettingsType.name === 'Profile'">
            <div class="form-group">
              <label>Description</label>
              <textarea class="form-control" name="description" ng-model="projectUpdates.description" ng-change="form.description = project.description" character-counter="projectUpdates.description" character-counter-max="300" rows="4"></textarea>
            </div>
            <div class="form-group">
              <label>Location</label>
              <input class="form-control" type="text" name="location" ng-model="projectUpdates.location" ng-change="form.location = project.location" />
            </div>
            <div class="form-group">
              <label>Status</label>
              <select class="form-control" ng-model="projectUpdates.status" ng-options="status for status in statuses" ng-change="form.status = project.status"></select>
            </div>
            <button class="btn btn-primary pull-right" ng-click="updateProject(updateProjectForm)">Save</button>
          </div>
          <!-- Images -->
          <div class="images-section settings-section" ng-show="currentSettingsType.name === 'Images'">
            <div class="form-section">
              <h4 class="form-section-header">Profile Pic</h4>
              <file-upload file-selected="updateProfilePic">
                <img class="profile-pic img-responsive img-rounded" src="{{ project.profilePic }}" width="240px" />
                <p class="clearfix">
                  <button class="btn pull-right" type="submit" ng-hide="loading" ng-bs-animated-button="" ng-disabled data-is-submitting="isSubmittingProfilePic" result="profilePicResult" data-options="profilePicBtnOptions" file-upload-trigger></button>
                </p>
              </file-upload>
            </div>
            <div class="form-section">
              <h4 class="form-section-header">Banner Pic</h4>
              <file-upload file-selected="updateBannerPic">
                <img class="banner-pic img-responsive img-rounded" src="{{ project.bannerPic }}" width="100%" />
                <p class="clearfix">
                  <button class="btn pull-right" type="submit" ng-hide="loading" ng-bs-animated-button="" ng-disabled data-is-submitting="isSubmittingBannerPic" result="bannerPicResult" data-options="bannerPicBtnOptions" file-upload-trigger></button>
                </p>
              </file-upload>
            </div>
          </div>
          <!-- Links -->
          <div class="links-section settings-section" ng-show="currentSettingsType.name === 'Links'">
            <div class="add-links clearfix">
              <button class="btn btn-sm btn-default pull-right" ng-click="newLink()">
                <i class="fa fa-plus"></i> Add
              </button>
            </div>
            <link-input ng-repeat="link in unsavedSocialLinks" link-input-handle="linkInputHandle" link="link" save-link="addLink"></link-input>
            <link-input ng-repeat="link in project.socialLinks" link-input-handle="linkInputHandle" link="link" save-link="addUpdateLink" delete-link="deleteLink"></link-input>
          </div>
          <!-- Applications -->
          <div class="applications-section settings-section" ng-show="currentSettingsType.name === 'Applications'">
            <div class="application clearfix" ng-repeat="application in project.projectApplications">
              <div class="pull-left">
                <p>{{ application.userFirstName ? (application.userFirstName + ' ' + application.userLastName) : application.userName }} has applied to join your project!</p>
                <p>{{ application.userFirstName ? application.userFirstName : application.userName }} applied on {{ application.created | date : 'mm/dd/yyyy' }}</p>
                <a href="#" ui-sref-name="routes.user({ userName : application.userName })">
                View {{ application.userFirstName ? application.userFirstName : application.userName }}'s Profile
              </a>
              </div>
              <div class="application-buttons pull-right">
                <button class="btn btn-default">
                  <i class="fa fa-times"></i>&nbsp;Decline
                </button>
                <button class="btn btn-primary">
                  <i class="fa fa-check"></i>&nbsp;Accept
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
