<div id="project">
  <div class="content container clearfix">
    <div class="project-header clearfix">
      <div class="name clearfix">
        <div class="name-line name-line-left col-xs-3">
          <img class="img-responsive" src="https://s3.amazonaws.com/throughcompany-assets/images/brush_left.jpg" />
        </div>
        <h2 class="center col-xs-6">
          {{ project.name }}
        </h2>
        <div class="name-line name-line-right col-xs-3">
          <img class="img-responsive" src="https://s3.amazonaws.com/throughcompany-assets/images/brush_right.jpg" />
        </div>
      </div>
      <div class="clearfix">
        <ul class="link-list pull-left">
          <li class="project-pic">
            <img class="" ng-src="{{ project.profilePic }}" height="35px" />&nbsp;<i class="fa fa-map-marker"></i>&nbsp;{{ project.location }}
          </li>
          <li ng-show="project.social.facebook">
            <a href="{{ project.social.facebook }}" target="_blank">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li ng-show="project.social.linkedIn">
            <a href="{{ project.social.linkedIn }}" target="_blank">
              <i class="fa fa-linkedin"></i>
            </a>
          </li>
        </ul>
        <ul class="link-list pull-right">
          <li>
            <a href="#" class="settings" data-toggle="tooltip" data-placement="top" title="View Team Members">
              <i class="fa fa-users"></i>
            </a>
          </li>
          <li ng-show="auth.hasProjectIdClaim(project._id)">
            <a href="#" class="settings" ng-click="editWiki = !editWiki" data-toggle="tooltip" data-placement="top" title="Edit Project Settings">
              <i class="fa fa-edit"></i>
            </a>
          </li>
          <li ng-show="auth.hasProjectIdClaim(project._id)">
            <a href="#" class="settings" ui-sref-name="routes.projectSettingsProfile({ projectId : project.slug })" data-toggle="tooltip" data-placement="top" title="Edit Project Settings">
              <i class="fa fa-gear"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="project-wiki">
      <div class="project-wiki-editor" ng-show="editWiki">
        <div class="wiki-text" text-angular ng-model="form.wiki" ta-toolbar="[['h1','h2','h3', 'h4', 'h5'], ['justifyLeft', 'justifyCenter', 'justifyRight'], ['bold','italics', 'underline', 'strikeThrough'], ['p', 'pre', 'quote', 'ul', 'ol', 'insertImage']]"></div>
      </div>
      <div class="project-wiki-text wiki-text" ng-hide="editWiki" ng-bind-html="project.wiki">
      </div>
    </div>
    <div class="project-team">
      <h3>Team</h3>
      <div class="clearfix row">
        <div class="col-md-4" ng-repeat="projectUser in projectUsers">
          <div class="team-member">
            <p class="center">
              <img class="img-circle" ng-src="{{ projectUser.profilePic }}" height="100px;" />
            </p>
            <p class="name">
              {{ getProjectUserName(projectUser) }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p class="wiki-saving" ng-show="savingWiki">
    <i class="fa fa-circle-o-notch fa-spin"></i>&nbsp;Saving changes...
  </p>
</div>
