<div id="project">
  <div class="banner clearfix">
    <h2 class="center">{{ project.name }}</h2>
    <h4 class="center">{{ project.shortDescription }}</h4>
  </div>
  <div class="content container clearfix">
    <div class="col-md-3"></div>
    <div class="col-md-9">

      <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li class="active">
            <a href="#needs" role="tab" data-toggle="tab">Needs</a>
          </li>
          <li>
            <a href="#tasks" role="tab" data-toggle="tab">Tasks</a>
          </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <!-- Needs -->
          <div class="tab-pane active" id="needs">

          </div>
          <!-- Tasks -->
          <div class="tab-pane" id="tasks">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
