<div id="home" class="clearfix">
  <div class="hero">
    <div class="hero-slides">
      <slick infinite=true slides-to-show="1" slides-to-scroll="1" autoplay="true" autoplay-speed="8000">
        <div class="slide" style="background-image:url('https://s3.amazonaws.com/throughcompany-assets/images/banner1.jpg')">
          <div class="slide-bg"></div>
          <div class="container hero-text">
            <p class="uppercase small-text">A better way to</p>
            <h1>Build a <span class="primary">Career</span></h1>
            <div class="big-text clearfix row">
              <p class="col-sm-8">Join the organizations and projects marching towards your goals. Contribute your skill set, learn and grow.<br><br>We can point you in the right direction.</p>
              <p class="col-sm-4">
                <a href="#" class="btn btn-primary btn-lg pull-right"ui-sref-name="routes.signIn">
                  Create a free profile
                </a>
              </p>
            </div>
          </div>
        </div>
        <div class="slide" style="background-image:url('https://s3.amazonaws.com/throughcompany-assets/images/banner1.jpg')">
          <div class="slide-bg"></div>
          <div class="container hero-text">
            <p class="uppercase small-text">A new way to</p>
            <h1>Tackle <span class="primary">Big Problems</span></h1>
            <div class="big-text clearfix row">
              <p class="col-sm-8">Join the organizations and projects marching towards your goals. Contribute your skill set, learn and grow.<br><br>We can point you in the right direction.</p>
              <p class="col-sm-4">
                <a href="#" class="btn btn-primary btn-lg pull-right"ui-sref-name="routes.signIn">
                  Create a free profile
                </a>
              </p>
            </div>
          </div>
        </div>
      </slick>
    </div>
  </div>
  <div class="content container">
    <div id="projects" class="project-list">
      <div class="header">
        <h2 class="center">What <strong>needs</strong> to get done</h2>
        <p class="center">Here you can find what projects need and the types of people they're looking for. We want to make it easier to get people where they need to be to make the impact they want for the world.</p>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6" ng-repeat="project in projects" equal-heights=".project" items="projects">
          <a class="project" href="#" ui-sref-name="routes.project({ projectId : project.slug })">
            <div class="project-pic" style="background-image: url('{{ project.profilePic }}')">
            </div>
            <div class="project-info">
              <h4 class="name">
              {{ project.name }}
            </h4>
              <p class="location" ng-hide="!project.location">
                <i class="fa fa-map-marker"></i>&nbsp;{{ project.location }}
              </p>
              <p class="description">
                {{ project.description }}
              </p>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div id="coming-soon" class="coming-soon clearfix">
      <div class="banner">
        <p class="center">
          <img src="http://masschallenge.org/sites/all/themes/mcbt4/assets/images/logo-masschallenge-retina.png" height="90px" alt="Mass Challenge 2015" />
        </p>
        <h2 class="center">
          We're a startup based in Somerville, MA. We've just applied to MassChallenge 2015.
        </h2>
        <p class="center">
          Want us to let you know how it goes?
        </p>
      </div>
      <div class="">
        <form class="form-inline center" name="subsribeForm" novalidate>
          <div class="form-group" ng-class="{ 'has-errors' : submitted && subsribeForm.email.$invalid }">
            <input class="form-control" ng-model="form.email" type="text" name="email" required ng-pattern="/^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+.[a-zA-Z]{2,4}$/" />
            <button class="btn btn-primary" tabindex="3" ng-click="subscribe(subsribeForm)" ng-bs-animated-button is-submitting="subscribeSubmitting" result="subscribeResult" options="subscribeBtnOptions">
            </button>
            <p class="error-msg" ng-show="submitted && subsribeForm.email.$error.required">Please enter your email.
            </p>
            <p class="error-msg" ng-show="submitted && subsribeForm.email.$error.pattern">Please enter a valid email.
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
