<div id="home" class="clearfix">
  <div class="content container">
    <div class="project-list row">
      <div class="col-md-4" ng-repeat="project in projects" equal-heights=".project" items="projects">
        <a class="project" href="#" ui-sref-name="routes.project({ projectId : project.slug })">
          <h4 class="name">
          {{ project.name }}
          </h4>
          <p class="started">{{ project.created | date : 'MM/dd/yyyy' }}</p>
          <p class="location" ng-hide="!project.location">
            <i class="fa fa-map-marker"></i>&nbsp; {{ project.location }}
          </p>
          <p class="description">
            {{ project.description }}
          </p>
        </a>
      </div>
    </div>
  </div>
</div>
