<div id="user" class="container clearfix">
  <div class="user-landing" ng-show="$state.current.name === 'system.user'">
    <div class="col-md-3">
      <div class="profile-pic">
        <img class="img-responsive img-rounded" ng-src="{{ user.profilePic }}" />
      </div>
      <div class="profile-info">
        <p class="name" ng-show="!user.firstName && !user.lastName">{{ user.email }}</p>
        <p class="name" ng-show="user.firstName || user.lastName">{{ user.firstName }} {{ user.lastName }}</p>
        <p ng-show="user.location">
          <i class="fa fa-map-marker"></i> {{ user.location }}
        </p>
        <div class="profile-social">
          <ul>
            <li ng-repeat="link in user.socialLinks">
              <a href="{{ link.link }}" target="_blank">
                <i class="fa {{ link.type | iconlink }}"></i> {{ link.name }}
              </a>
            </li>
          </ul>
        </div>
        <a class="update-settings" href="#" ui-sref-name="routes.userSettings" ng-show="auth.hasCurrentUserIdClaim(user._id)">
          <i class="fa fa-gear"></i> Update your settings
        </a>
      </div>
    </div>
    <div class="col-md-9">
      <!-- Projects -->
      <div class="profile-section profile-section-projects" id="projects">
        <div class="header clearfix">
          <h3>Projects</h3>
          <div class="add-new-btn pull-right">
            <a href="#" class="btn btn-primary" ui-sref-name="routes.createProject" ng-show="(projects && projects.length) && auth.hasCurrentUserIdClaim(user._id)">
              <i class="fa fa-plus"></i> Add
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6" ng-repeat="project in projects" equal-heights=".project" items="projects" ng-show="projects && projects.length">
            <div class="project">
              <p class="name">
                <a href="#" ui-sref-name="routes.project({ projectId : project.slug })">{{ project.name }}</a>
              </p>
              <p class="description">{{ project.shortDescription }}</p>
              <p>Started on {{ project.created | date : 'MM/dd/yyyy' }}</p>
            </div>
          </div>
          <div ng-hide="projects && projects.length">
            <p class="center">
              You don't have any projects yet...
            </p>
            <p class="center">
              <a href="#" class="btn btn-primary" ui-sref-name="routes.createProject">Create a Project</a>
            </p>
          </div>
        </div>
      </div>
      <!-- Assets -->
      <div class="profile-section profile-section-assets" id="assets">
        <div class="header clearfix">
          <h3>Assets</h3>
          <div class="add-tags-btn pull-right">
            <a href="#" class="btn btn-primary" ng-click="addingAssetTags = !addingAssetTags" ng-show="(user.assetTags && user.assetTags.length) && auth.hasCurrentUserIdClaim(user._id)">
              <i class="fa fa-plus"></i> Add
            </a>
          </div>
        </div>
        <div class="add-tags clearfix">
          <div ng-show="addingAssetTags">
            <ui-select multiple tagging="newAssetTag" ng-model="addAssetTagForm.tags" theme="bootstrap" reset-search-input="false">
              <ui-select-match placeholder="Enter a tag name">{{ $item.name }}</ui-select-match>
              <ui-select-choices repeat="assetTag in assetTags | filter:$select.search" refresh="getAssetTags($select.search)" refresh-delay="200">
                <div ng-bind-html="assetTag.name"></div>
              </ui-select-choices>
          </div>
        </div>
        <div class="asset-tags">
          <a href="#" class="asset-tag btn btn-default" ng-repeat="assetTag in user.assetTags">
          {{ assetTag.name }}
        </a>
        </div>
        <div class="no-tags" ng-hide="(user.assetTags && user.assetTags.length) || addingAssetTags">
          <p class="center">
            You don't have any assets yet...
          </p>
          <p class="center">
            <button class="btn btn-primary" ng-click="addingAssetTags = true">Add Assets</button>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="user-pages view-container view-frame view-fade-in" ui-view>
  </div>
</div>
