<div id="user-settings" class="container clearfix">
  <div class="back-link">
    <a ui-sref-name="routes.userProfile" href="#">
      <i class="fa fa-arrow-left"></i> Back to Profile
    </a>
  </div>
  <div class="row">
    <div class="profile-links col-md-3">
      <ul class="list-group">
        <li class="list-group-item">
          <a href="#" ui-sref-name="routes.userSettingsProfile" ui-sref-active="active">Profile</a>
        </li>
      </ul>
    </div>
    <div class="col-md-9 view-container view-frame view-fade-in" ui-view="">
    </div>
  </div>
</div>
