.wiki-text {
  .font-family-serif;
  color: @gray;
  ul {
    list-style: disc;
    margin: 0;
    //padding: 0;
  }
  ol {
    list-style: decimal;
  }
}

// ---------------------------------------------
// Inline Edit
// ---------------------------------------------
.inline-edit-wrapper {
  position: relative;
  &.inline-edit-show {
    .inline-edit {
      opacity: 1;
    }
  }
  .inline-edit-element {}
  .inline-edit {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin: 0 auto;
    opacity: 0;
    .transition(.4s ease-in-out);
    input {
      background: fade(@gray-dark, 50%);
      border-color: @input-border;
    }
  }
}

// ---------------------------------------------
// Link Input
// ---------------------------------------------
.link-input {
  position: relative;
  form {
    &.link-added {
      .form-group {
        .link-input-icon-dropdown {
          width: 95px;
          a {
            padding-right: 14px;
          }
        }
        .link-input-control-link {
          padding-left: 115px;
        }
      }
    }
    .form-group {
      &.has-errors {
        .link-input-icon-dropdown {
          border-color: @brand-danger;
        }
        .link-input-btn {
          border-color: @brand-danger;
        }
      }
      .link-input-icon-dropdown {
        position: absolute;
        top: 0;
        left: 0;
        float: left;
        border: 1px solid #cccccc;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        width: 70px;
        a {
          padding: 9px 28px;
          display: block;
          .selectedIcon {
            margin-right: 14px;
          }
        }
      }
      .link-input-control-link {
        padding-left: 80px;
        padding-right: 140px;
        border-left: none;
        // border-top-left-radius: 0;
        // border-bottom-left-radius: 0;
      }
      .link-input-control-text {
        padding-left: 80px;
        padding-right: 140px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
      .link-input-icon-remove {
        position: absolute;
        top: 10px;
        right: 110px;
      }
      .link-input-btn {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
}
