@import "../bower_components/bootstrap/less/bootstrap.less";
@import "../bower_components/font-awesome/less/font-awesome.less";
@import "_variables.less";
@import "_globals.less";
@import "_appAnimations.less";
@import "login.less";
@import "components/user/app-user-dashboard.less";

body {} h1, h2 {
  .font-sans-serif;
}
#header {
  border-bottom: 1px solid @gray-lighter;
  #logo {
    padding: 20px;
    font-size: 16px;
    height: auto;
  }
  .nav {
    > li {
      > a {
        padding: 20px;
      }
    }
  }
}
#main {} #footer {} #home {}
