<div id="user-profile" class="container clearfix">
  <div class="col-md-3">
    <div class="profile-pic">
      <img class="img-responsive img-rounded" ng-src="{{ currentUser.profilePic }}" />
    </div>
    <div class="profile-info">
      <p class="name" ng-show="!currentUser.firstName && !currentUser.lastName">{{ currentUser.email }}</p>
      <p class="name" ng-show="currentUser.firstName || currentUser.lastName">{{ currentUser.firstName }} {{ currentUser.lastName }}</p>
      <p ng-show="currentUser.location">
        <i class="fa fa-map-marker"></i> {{ currentUser.location }}
      </p>
      <div class="profile-social">
        <ul>
          <li ng-show="currentUser.social.facebook">
            <a href="{{ currentUser.social.facebook }}" target="_blank">
              <i class="fa fa-facebook"></i> Facebook
            </a>
          </li>
          <li ng-show="currentUser.social.linkedIn">
            <a href="{{ currentUser.social.linkedIn }}" target="_blank">
              <i class="fa fa-linkedin-square"></i> LinkedIn
            </a>
          </li>
          <li ng-show="currentUser.social.gitHub">
            <a href="{{ currentUser.social.gitHub }}" target="_blank">
              <i class="fa fa-github"></i> GitHub
            </a>
          </li>
        </ul>
      </div>
      <a class="update-settings" href="#" ui-sref-name="routes.userSettingsProfile">
        <i class="fa fa-gear"></i> Update your settings
      </a>
    </div>
  </div>
  <div class="col-md-9">
    <!-- Projects -->
    <div class="profile-section profile-section-projects" id="projects">
      <div class="header clearfix">
        <h3>Projects</h3>
        <!--         <div class="add-new pull-right">
          <a href="#" class="btn btn-default" ui-sref-name="routes.createProject">
            New Project&nbsp;<i class="fa fa-plus"></i>
          </a>
        </div> -->
      </div>
      <div class="row">
        <div class="col-md-6" ng-repeat="project in projects" equal-heights=".project" items="projects" ng-show="projects && projects.length">
          <div class="project">
            <p class="name">
              <a href="#" ui-sref-name="routes.project({ projectId : project.slug })">{{ project.name }}</a>
            </p>
            <p class="description">{{ project.shortDescription }}</p>
            <p>Started on {{ project.created | date : 'MM/dd/yyyy' }}</p>
          </div>
        </div>
        <div ng-hide="projects && projects.length">
          <p class="center">
            You don't have any projects yet...
          </p>
          <p class="center">
            <a href="#" class="btn btn-primary" ui-sref-name="routes.createProject">Create a Project</a>
          </p>
        </div>
      </div>
    </div>
    <!-- Assets -->
    <div class="profile-section profile-section-assets" id="assets">
      <div class="header clearfix">
        <h3>Assets</h3>
        <div class="add-tags-btn pull-right">
          <a href="#" class="btn btn-primary" ng-click="addingAssetTags = !addingAssetTags" ng-show="currentUser.assetTags && currentUser.assetTags.length">
            <i class="fa fa-plus"></i> Add
          </a>
        </div>
      </div>
      <div class="add-tags clearfix">
        <div ng-show="addingAssetTags">
          <ui-select multiple tagging="newAssetTag" ng-model="addAssetTagForm.tags" theme="bootstrap" reset-search-input="false">
            <ui-select-match placeholder="Enter a tag name">{{ $item.name }}</ui-select-match>
            <ui-select-choices repeat="assetTag in assetTags | filter:$select.search" refresh="getAssetTags($select.search)" refresh-delay="200">
              <div ng-bind-html="assetTag.name"></div>
            </ui-select-choices>
        </div>
      </div>
      <div class="asset-tags">
        <a href="#" class="asset-tag btn btn-default" ng-repeat="assetTag in currentUser.assetTags">
          {{ assetTag.name }}
        </a>
      </div>
      <div class="no-tags" ng-hide="(currentUser.assetTags && currentUser.assetTags.length) || addingAssetTags">
        <p class="center">
          You don't have any assets yet...
        </p>
        <p class="center">
          <button class="btn btn-primary" ng-click="addingAssetTags = true">Add Assets</button>
        </p>
      </div>
    </div>
  </div>
</div>
