<div id="user-profile">
  <div class="col-md-3">
    <div class="profile-pic">
      <img class="img-responsive img-rounded" ng-src="{{ currentUser.imageUrl }}" />
    </div>
    <div class="profile-info">
      <p class="name" ng-show="currentUser.firstName || currentUser.lastName">{{ currentUser.firstName }} {{ currentUser.lastName }}</p>
      <p ng-show="currentUser.location">
        <i class="fa fa-map-marker"></i> {{ currentUser.location }}
      </p>
      <div class="profile-social">
        <ul>
          <li ng-show="currentUser.social.facebook">
            <a href="{{ currentUser.social.facebook }}" target="_blank">
              <i class="fa fa-facebook"></i> Facebook
            </a>
          </li>
          <li ng-show="currentUser.social.linkedIn">
            <a href="{{ currentUser.social.linkedIn }}" target="_blank">
              <i class="fa fa-linkedin-square"></i> LinkedIn
            </a>
          </li>
          <li ng-show="currentUser.social.gitHub">
            <a href="{{ currentUser.social.gitHub }}" target="_blank">
              <i class="fa fa-github"></i> GitHub
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div>
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li class="active">
          <a href="#home" role="tab" data-toggle="tab">Projects</a>
        </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="home">
          <div ng-repeat="project in projects">
            {{ project.name }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
