<div id="user-profile" class="container clearfix">
  <div class="col-md-3">
    <div class="profile-pic">
      <img class="img-responsive img-rounded" ng-src="{{ currentUser.profilePic }}" />
    </div>
    <div class="profile-info">
      <p class="name" ng-show="!currentUser.firstName && !currentUser.lastName">{{ currentUser.email }}</p>
      <p class="name" ng-show="currentUser.firstName || currentUser.lastName">{{ currentUser.firstName }} {{ currentUser.lastName }}</p>
      <p ng-show="currentUser.location">
        <i class="fa fa-map-marker"></i> {{ currentUser.location }}
      </p>
      <div class="profile-social">
        <ul>
          <li ng-show="currentUser.social.facebook">
            <a href="{{ currentUser.social.facebook }}" target="_blank">
              <i class="fa fa-facebook"></i> Facebook
            </a>
          </li>
          <li ng-show="currentUser.social.linkedIn">
            <a href="{{ currentUser.social.linkedIn }}" target="_blank">
              <i class="fa fa-linkedin-square"></i> LinkedIn
            </a>
          </li>
          <li ng-show="currentUser.social.gitHub">
            <a href="{{ currentUser.social.gitHub }}" target="_blank">
              <i class="fa fa-github"></i> GitHub
            </a>
          </li>
        </ul>
      </div>
      <a class="update-settings" href="#" ui-sref-name="routes.userSettingsProfile">Update your settings</a>
    </div>
  </div>
  <div class="col-md-9">
    <div>
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li class="active">
          <a href="#projects" role="tab" data-toggle="tab">Projects</a>
        </li>
        <li>
          <a href="#assets" role="tab" data-toggle="tab">Assets</a>
        </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <!-- Projects -->
        <div class="tab-pane active project-tab" id="projects">
          <div class="tab-pane-tools clearfix">
            <a href="#" class="btn btn-primary pull-right" ui-sref-name="routes.createProject" ng-show="projects && projects.length">
              <i class="fa fa-plus"></i> Add
            </a>
          </div>
          <div class="row">
            <div class="col-md-6" ng-repeat="project in projects" equal-heights=".project" items="projects" ng-show="projects && projects.length">
              <div class="project">
                <p class="name">
                  <a href="#" ui-sref-name="routes.projectProfile({ projectId : project._id })">{{ project.name }}</a>
                </p>
                <p class="description">{{ project.shortDescription }}</p>
                <p>Started on {{ project.created | date : 'MM/dd/yyyy' }}</p>
              </div>
            </div>
            <div ng-hide="projects && projects.length">
              <p class="center">
                You don't have any projects yet...
              </p>
              <p class="center">
                <a href="#" class="btn btn-primary" ui-sref-name="routes.createProject">Create a Project</a>
              </p>
            </div>
          </div>
        </div>
        <!-- Assets -->
        <div class="tab-pane assets-tab" id="assets">
          <div class="tab-pane-tools clearfix">
            <a href="#" class="btn btn-primary pull-right" ng-click="addAssetTags()" ng-show="currentUser.assetTags && currentUser.assetTags.length">
              <i class="fa fa-plus"></i> Add
            </a>
          </div>
          <div class="row">
            <div class="col-md-6" ng-repeat="assetTag in currentUser.assetTags" ng-show="currentUser.assetTags && currentUser.assetTags.length">
              <div class="asset-tag">
                <p class="name">
                  <a href="#">{{ assetTag.name }}</a>
                </p>
                <p class="description">{{ assetTag.description }}</p>
              </div>
            </div>
            <div ng-hide="currentUser.assetTags && currentUser.assetTags.length">
              <p class="center">
                You don't have any assets yet...
              </p>
              <p class="center">
                <button class="btn btn-primary" ng-click="addAssetTags()">Add Assets</button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
