#home {
  .banner {
    height: 400px;
    background: @gray-lighter;
  }
  .content {
    .project-list {
      .project {
        border: 1px solid @gray-lighter;
        padding: 15px;
        margin-bottom: 30px;
        border-radius: @border-radius-base;
        .name {
          font-size: @font-size-med;
          border-bottom: 1px solid @gray-lighter;
          padding-bottom: 5px;
          margin-bottom: 10px;
        }
        .description {}
      }
    }
  }
}
