#home {
  padding-top: 40px;
  .content {
    .project-list {
      .project {
        //border: 1px solid @gray-lighter;
        padding: 15px;
        display: block;
        margin-bottom: 30px;
        border-radius: @border-radius-base;
        color: @text-color;
        &:hover {
          box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.15);
        }
        .name {
          font-size: @font-size-med;
          border-bottom: 1px solid @gray-lighter;
          padding-bottom: 5px;
          margin-bottom: 10px;
          .font-family-cursive;
        }
        .description {}
      }
    }
  }
}
