#project {
  padding-top: 20px;
  .content {
    padding-top: 20px;
    padding-bottom: 80px;
    .project-header {
      position: relative;
      .name {
        padding-bottom: 20px;
        margin-bottom: 10px;
        .name-line {
          height: 18px;
          top: 28px;
          position: relative;
          display: inline-block;
          padding: 0;
        }
        h2 {
          font-size: 60px;
          margin-top: 0;
          margin-bottom: 0;
          .font-family-cursive;
          color: @gray;
        }
      }
      .link-list {
        margin: 0;
        padding: 0;
        li {
          float: left;
          margin-right: 15px;
          a {
            font-size: 30px;
            margin-top: 20px;
            color: lighten(@gray, 10%);
          }
        }
      }
    }
    .project-wiki {
      // .quote {
      //   display: block;
      //   border-left: 3px solid @gray-lighter;
      //   padding: 10px 0 10px 8px;
      //   font-style: italic;
      //   font-size: 22px;
      //   margin: 25px 0;
      // }
    }
    .ta-toolbar {
      .btn {
        font-size: 14px;
        padding: 6px 12px;
      }
    }
    .ta-editor {
      min-height: 300px;
      height: auto;
      overflow: auto;
      font-family: inherit;
      font-size: 100%;
      margin: 20px 0;
    }
  }
  .wiki-saving {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 20px 40px;
    width: 100%;
    margin: 0;
    background: fade(@brand-info, 24%);
    //border-top-right-radius: 4px;
    font-style: italic;
    i {
      margin-right: 10px;
    }
  }
}
