<div id="create-project" class="clearfix">
  <form class="col-md-6 col-md-offset-3" name="createProjectForm" novalidate>
    <div class="form-group" ng-class="{ 'has-errors' : submitted && !createProjectForm.name.$valid }">
      <label class="control-label">Name</label>
      <input class="form-control" type="text" name="name" ng-model="form.name" required />
      <p class="error-msg" ng-show="submitted && createProjectForm.name.$error.required">Please enter a project name.
      </p>
    </div>
    <div class="form-group" ng-class="{ 'has-errors' : submitted && !createProjectForm.description.$valid }">
      <label class="control-label">Description</label>
      <textarea class="form-control" type="text" name="description" ng-model="form.description" required></textarea>
      <p class="error-msg" ng-show="submitted && createProjectForm.description.$error.required">Please a description of your project.
      </p>
    </div>
    <button class="btn btn-primary pull-right" tabindex="3" ng-click="createProject(createProjectForm)" ng-bs-animated-button is-submitting="createProjectSubmitting" result="createProjectResult" options="createProjectBtnOptions">
    </button>
  </form>
</div>
