<div id="sidebar">
  <ul id="sidebar-links" class="list-group">
    <li data-ng-repeat="node in menu.activeRootNode.childNodes" data-ng-class="{ active : node.active }">
      <a class="list-group-item" data-ng-class="{ active : node.active }" data-ui-sref="{{ node.state }}">
        <i class="{{ node.icon }}"></i>
        <span>{{ node.title }}</span>
      </a>
      <ul id="sidebar-links" class="list-group" data-ng-show="node.childNodes">
        <li data-ng-repeat="childNode in node.childNodes" data-ng-class="{ active : childNode.active }">
          <a class="list-group-item" data-ng-class="{ active : childNode.active }" data-ui-sref="{{ childNode.state }}">
            {{ childNode.title }}
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>
