<div id="organization">
  <div class="header container clearfix">
    <div class="profile-pic">
      <img class="img-responsive" ng-src="{{ organization.profilePic }}" />
      <file-upload file-selected="updateProfilePic" class="edit">
        <a href="#" ng-show="auth.hasOrganizationIdClaim(organization._id)" file-upload-trigger>
          <i class="fa fa-pencil"></i>&nbsp;Edit
        </a>
      </file-upload>
      <div class="saving" ng-show="isSubmittingProfilePic">
        <i class="fa fa-cog fa-spin"></i>
      </div>
    </div>
    <div class="name">
      <h1>{{ organization.name }}</h1>
      <p class="description">{{ organization.description }}
      </p>
    </div>
  </div>
  <div class="project-container container clearfix" affix data-offset-top="584">
    <div class="project-landing clearfix" ng-show="$state.current.name === 'app.project'">
      <div class="project-content">
        <div class="col-md-2 sidebar-left">
          <ul>
            <li ng-repeat="link in project.socialLinks">
              <a ng-href="{{ link.link }}" target="_blank">
                <i class="fa {{ link.type | iconlink }}"></i> {{ link.name }}
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-8">
          <div id="project-needs" class="project-needs project-section">
            <div class="header clearfix">
              <h2>Needs</h2>
              <p class="sub">What we need right now.</p>
              <a href="#" class="btn btn-default btn-edit btn-xs pull-right" ng-click="addProjectNeed()" ng-show="auth.hasProjectIdClaim(project._id)">
                <i class="fa fa-plus"></i>
              </a>
            </div>
            <div class="clearfix">
              <div class="project-needs-list">
                <a class="project-need btn btn-warning btn-sm" href="#" ng-repeat="projectNeed in project.projectNeeds" ng-click="viewProjectNeed(projectNeed)">
                 {{ projectNeed.name }}
              </a>
              </div>
            </div>
          </div>
          <div class="edit-wiki clearfix">
            <a href="#" class="btn btn-default btn-edit btn-xs pull-right" ng-click="editWiki = !editWiki" tooltip-placement="top" tooltip="Edit Project Wiki" tooltip-append-to-body="true" ng-show="auth.hasProjectIdClaim(project._id)">
              <i class="fa fa-edit"></i>
            </a>
          </div>
          <div id="project-wiki" class="project-wiki project-section">
            <div class="project-wiki-editor" ng-show="editWiki">
              <div class="wiki-text" text-angular ng-model="form.wiki" ta-toolbar="[['h1','h2','h3', 'h4', 'h5'], ['justifyLeft', 'justifyCenter', 'justifyRight'], ['bold','italics', 'underline', 'strikeThrough'], ['p', 'pre', 'quote', 'ul', 'ol', 'insertImage']]">
              </div>
            </div>
            <div class="project-wiki-text wiki-text" ng-hide="editWiki" ng-bind-html="form.wiki">
            </div>
          </div>
          <div id="project-team" class="project-team project-section">
            <div class="header clearfix">
              <h2>Team</h2>
            </div>
            <div class="members clearfix row">
              <div class="col-md-4" ng-repeat="projectUser in projectUsers">
                <a class="team-member" href="#" ui-sref-name="routes.user({ userName : projectUser.userName })">
                  <p class="center">
                    <img class="img-circle" ng-src="{{ projectUser.profilePic }}" height="100px;" />
                  </p>
                  <p class="name center">
                    {{ getProjectUserName(projectUser) }}
                  </p>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
    <div class="project-pages view-container view-frame view-fade-in" ui-view>
    </div>
  </div>
  <p class="wiki-saving" ng-show="savingWiki">
    <i class="fa fa-circle-o-notch fa-spin"></i>&nbsp;Saving changes...
  </p>
</div>
