<div id="footer" class="clearfix">
  <div class="social">
    <div class="container">
      <div class="social-links center">
        <div>
          <a href="mailto:team@throughcompany.com">
            <i class="fa fa-envelope"></i>
          </a>
          <a href="http://twitter.com/throughcompany" target="_blank">
            <i class="fa fa-twitter"></i>
          </a>
        </div>
      </div>
      <div class="links">
        <div class="container">
          <p class="center">
            Made with <i class="fa fa-heart"></i> in Somerville, MA
          </p>
          <p class="center">
            &copy; {{ currentYear }} Through Company, Inc.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
