<!-- Header -->
<div id="header" class="navbar navbar-static-top navbar">
    <div class="container" role="navigation">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-target=".bs-navbar-collapse" data-toggle="collapse"><i class="fa fa-bars"></i>
            </button>
            <a id="logo" href="#" class="navbar-brand" data-ui-sref-name="routes.home">Company Floor</a>
        </div>
        <div id="header-nav" class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav" data-ng-show="auth.isLoggedIn()">
                <li data-ng-repeat="node in menu.nodes" data-ng-class="{ active : node === menu.activeRootNode }">
                    <a title="{{ node.title }}" data-ng-class="{ active : node === menu.activeRootNode }" data-ui-sref-name="node.state">
                        <!-- <i class="{{ node.icon }}"></i> -->
                        {{ node.title }}
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li data-ng-hide="auth.isLoggedIn()">
                    <a href="#" data-ui-sref-name="routes.register">Register
          </a>
                </li>
                <li data-ng-hide="auth.isLoggedIn()">
                    <a href="#" data-ui-sref-name="routes.login">Login
          </a>
                </li>
                <li data-ng-show="auth.isLoggedIn()">
                    <a href="#" data-ng-click="auth.logout()">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="main" data-ui-view="">
</div>
