<!-- Header -->
<div id="header" class="navbar navbar-static-top navbar">
  <div class="navbar-header">
    <button class="navbar-toggle" type="button" data-target=".bs-navbar-collapse" data-toggle="collapse">
      <i class="fa fa-bars"></i>
    </button>
    <a id="logo" href="#" class="navbar-brand" ui-sref-name="routes.home">
      Through Company
    </a>
  </div>
  <div id="header-nav" class="collapse navbar-collapse bs-navbar-collapse" role="navigation" ng-class="{ 'not-logged-in' : !auth.isLoggedIn() }">
    <ul class="nav navbar-nav navbar-right">
    </ul>
    <ul class="nav navbar-nav navbar-right" ng-show="auth.isLoggedIn()">
      <li class="dropdown">
        <a class="dropdown-toggle" href="#" data-toggle="dropdown">
          <img class="img-circle" ng-src="{{ currentUser.profilePic }}" height="18px" />
          <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="#" ui-sref-name="routes.userProfile">
              Profile
            </a>
          </li>
          <li>
            <a href="#" ui-sref-name="routes.userSettingsProfile">
              Settings
            </a>
          </li>
          <li class="logout">
            <a href="#" ng-click="auth.logout()">
              Log out
            </a>
          </li>
        </ul>
      </li>
    </ul>
    <!--     <ul class="nav navbar-nav navbar-right" ng-hide="auth.isLoggedIn()">
      <li>
        <a href="#" ui-sref-name="routes.signIn">
          Log in
        </a>
      </li>
      <li class="sign-in">
        <a class="btn btn-primary" href="#" ui-sref-name="routes.signUp">
          Sign up
        </a>
      </li>
    </ul> -->
  </div>
</div>
<!-- Main -->
<div id="main" class="view-container view-frame view-fade-in clearfix" ui-view>
</div>
<!-- Footer -->
<div id="footer" class="clearfix">
  <div class="social">
    <div class="container">
      <div class="social-links center">
        <div>
          <a href="mailto:team@throughcompany.com">
            <i class="fa fa-envelope"></i>
          </a>
          <a href="http://twitter.com/throughcompany" target="_blank">
            <i class="fa fa-twitter"></i>
          </a>
        </div>
      </div>
      <div class="links">
        <div class="container">
          <p class="center">
            Made with <i class="fa fa-heart"></i> in Somerville, MA
          </p>
          <p class="center">
            &copy; {{ currentYear }} Through Company, Inc.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
