<div id="sign-up" class="container col-md-4 col-md-offset-4">
  <!--   <button class="btn btn-facebook btn-block" type="button" ng-click="loginFacebook($event)" ng-class="{ 'btn-danger' : loginFacebookError, 'btn-primary' : !loginFacebookError, 'facebook-login-btn' : !loginFacebookError }">
    <span ng-hide="loggingInFacebook || loginFacebookError">
        Signin with&nbsp;
        <i class="fa fa-facebook-square"></i>
      </span>
    <span ng-show="loginFacebookError">
        There was an eror logging in with Facebook
      </span>
    <i class="fa fa-refresh fa-spin" ng-show="loggingInFacebook && !loginFacebookError"></i>
  </button>
  <br>
  <p class="center">
    or
  </p>
  <br> -->
  <div class="alert alert-danger" ng-show="errorMsg">
    {{ errorMsg }}
  </div>
  <form class="clearfix" name="registerForm" role="form" novalidate>
    <div class="form-group" ng-class="{ 'has-errors' : submitted && registerForm.email.$invalid }">
      <input class="form-control" name="email" tabindex="1" placeholder="Email" type="text" ng-model="form.email" required ng-pattern="regexes.email" />
      <p class="error-msg" ng-show="submitted && registerForm.email.$error.required">Please enter your email.
      </p>
      <p class="error-msg" ng-show="submitted && registerForm.email.$error.pattern">Please enter a valid email.
      </p>
    </div>
    <div class="form-group" ng-class="{ 'has-errors' : submitted && registerForm.password.$invalid }">
      <input class="form-control" name="password" tabindex="2" placeholder="Password" type="password" ng-model="form.password" required ng-minlength="6" />
      <p class="error-msg" ng-show="submitted && registerForm.password.$error.required">Please enter your password.
      </p>
      <p class="error-msg" ng-show="submitted && registerForm.password.$error.minlength">Password must be at least 6 characters.
      </p>
    </div>
    <button class="btn-block btn-icon-center" tabindex="3" ng-click="register(registerForm)" ng-bs-animated-button is-submitting="registerSubmitting" result="registerResult" options="registerBtnOptions">
    </button>
  </form>
  <hr>
  <p>Already have an account? <a href="#" ui-sref="system.signIn">Sign In</a>
  </p>
</div>
